*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-image: linear-gradient(to bottom, rgb(64, 252, 89), rgb(12, 88, 29), rgb(255, 255, 255));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    text-shadow: 5px 5px 10px black;
} 
.img1{
    width: 500px;
    height: 150px;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo{
    background-color: #000;
    padding: 20px;
    box-shadow:#ffffff29 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 20px 30px 10px 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.botao{
    font-size: 30px;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
    margin: 15px;
}
button, a{
    color: black;
    box-shadow: inset 0 -3px 0 0 red;
    box-shadow: none;
    text-decoration: none;
}
p{
    font-size: 25px;
    margin: 25px;
    padding: 10px;
}

.img2{
    width: 300px;
    height: 200px;
    border-radius: 25px;
}
