*{
   margin: 0;
   padding: 0;
}
body{
   background:url(../Backgrounds/backgroundoraculo.jpg);
}
header{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 35px;
   margin-top: 15px;
   margin-bottom: 15px;
   text-decoration: underline;
   color: white;
}
main{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 10px;
}
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.conteudo{
   background:black;
   padding: 40px;
   border-radius: 10px;
   color: rgb(255, 255, 255);
   font-size: 25px;
   margin: 20px 5%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
img{
   width: 600px;
   height: 300px;
   border-radius: 15px;
}
p{
   font-size: 35px;
   text-shadow: 5px 5px 10px black;
   margin: 50px;
}
.botao{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   background-color: grey;
   font-size: 20px;
}
button, a{
   color: black;
   box-shadow: inset 0 -3px 0 0 red;
   box-shadow: none;
   text-decoration: none;
}
@media (max-width: 500px) {
   header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     }
   img{
      width: 380px;
      height: 320px;
   }
 }